<div id="<%= dom_id minute %>">
  <p>
    <strong>Content:</strong>
    <%= minute.content %>
  </p>

  <p>
    <strong>Meeting date:</strong>
    <%= minute.meeting_date %>
  </p>

  <div>
    <%= link_to 'GitHub Wiki にエクスポート', minute_export_path(minute), data: { turbo_method: :post } %>
  </div>
</div>
